nav{
  background: #fff;
  color: #49898D;
  border-bottom: 1px solid #49898D;
}

nav ul a {
  color: #49898D;
}

.floatForm{
  background: #fff;
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px 15px;
}
